<html>

<head>
  <title>Express</title>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"
    integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg=="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
  <div id="app" class="flex flex-col h-screen">
    <div class="flex justify-between items-center px-4 h-16 bg-gray-600 ">
      <div class="flex">
        <div class="text-4xl font-bold text-gray-200">MAVEN</div>
      </div>
      <div class="flex items-center text-gray-200">
        <a href="#" class="text-lg mr-3 font-medium">Home</a>
        <a href="#" class="text-lg mr-3 font-medium">About</a>
        <a href="#" class="text-lg mr-3 font-medium">Contact</a>
        <a href="#" class="text-2xl font-medium rounded-full bg-gray-500 w-10 h-10 text-center flex justify-center">PR</a>
      </div>
    </div>
    <div class="flex h-full">
      <div id="sidebar" class="pt-4 w-64 bg-gray-800 h-full text-gray-200 flex flex-col">
        <a href="" class="text-lg pl-4 py-3">Dashboard</a>
        <a href="" class="text-lg pl-4 py-3 border-r-8 border-red-500 bg-gray-700">Users</a>
        <a href="" class="text-lg pl-4 py-3  ">Profile</a>
        <a href="" class="text-lg pl-4 py-3  ">Settings</a>
        <a href="" class="text-lg pl-4 py-3 ">Billing</a>

      </div>
      <div id="content" class=" bg-gray-200 flex flex-col flex-1 h-full">
        <div class="bg-gray-100 min-h-64 flex items-center justify-center">

          <div class="flex flex-col justify-center content-center items-center align-center rounded-lg p-8 border-2 my-12">
            <h1 class="text-6xl font-bold">{{title}}</h1>
            <h1 class="mb-4">Cloud Enterprise Management</h1>
            <a href="#" class="p-3 bg-green-500 text-gray-200">Get Started</a>
          </div>
          
        </div>

        <div class="bg-yellow-500 min-h-64 py-4 flex items-center justify-center">
          <div class="flex flex-col w-64 h-full mr-2 p-4">
            <div class="mb-2">
              <label class="block" for="">Name</label>
              <input v-model="user.name" class="w-full p-1 rounded-md" type="text">
            </div>

            <div class="mb-2">
              <label class="block" for="">Email</label>
              <input v-model="user.email" class="w-full p-1 rounded-md" type="text">
            </div>

            <div class="mb-2">
              <label class="block" for="">Phone</label>
              <input v-model="user.phone" class="w-full p-1 rounded-md" type="text">
            </div>
            <div class="flex justify-between mt-1">

              <a href="#" @click.prevent="SaveUser()" class="px-3 py-2 bg-blue-500 text-gray-200 mr-3">Submit</a>
              <a href="#" @Click.prevent="ClearUser()" class="px-3 py-2 bg-gray-500 text-gray-300">Cancel</a>
            </div>
            
          </div>
          <div class="bg-gray-200 rounded-lg py-4">
            <table class="table-auto ">
              <thead>
                <tr>
                  <th class="border px-4 py-2">Name</th>
                  <th class="border px-4 py-2">Email</th>
                  <th class="border px-4 py-2">Phone</th>
                  <th class="border px-4 py-2"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="hover:bg-gray-300" v-for="(user, i) in users" :key="i">
                  <td class="border px-4 py-2">
                    <a href="#" @click.prevent="SelectUser(user.id)" class="text-blue-600">{{user.name}}</a>
                    
                  </td>
                  <td class="border px-4 py-2">{{user.email}}</td>
                  <td class="border px-4 py-2">{{user.phone}}</td>
                  <td class="border text-red-700 px-4 py-2">
                    <a @click.prevent="DeleteUser(user.id)" href="#">Delete</a>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
          
        </div>
      </div>
    </div>
  </div>
</body>
<script src="/javascripts/app.js">
  
</script>
</html>
